<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.aranea.dao.WritingDAO">

	<!-- 중고거래 글 작성 -->
	<insert id="write"
	parameterType="kr.aranea.entity.Writing">
		insert into Writing
		values( num_writing.nextval,
				#{id},
				#{img1},
				#{img2},
				#{img3},
				#{title},
				#{category},
				#{address},
				#{condition},
				#{price},
				#{content},
				#{counts}
				)
	</insert>
</mapper>