@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

ul, li, ol, dl, dd, dt {
	list-style: none;
}

img, video {
	vertical-align: top;
	border: 0;
}

input, select, textarea, button {
	font: inherit;
	color: inherit;
	vertical-align: middle;
	border-radius: 0;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: inherit;
}

address {
	font-style: normal;
}

table {
	border-collapse: collapse;
}

/*수정할 코드  */
img {
	border-style: none;
}

.container {
	
}

/* header : 로그인/회원가입 화면 */
.header {
	/*       display: flex;
            justify-content: center;
            -webkit-box-pack: center;
            height: 40px;
            background: rgb(255, 255, 255);
            margin-left: 100%;
            margin-right: 20%;
            float: right; */
	left: 30%;
	right: 30%;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.rose {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: right;
}

.create {
	display: flex;
	flex-shrink: 0;
}

.login {
	color: black;
}
/* 
         .a {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-size: 13px;
            color: rgb(255, 6, 6);
            padding: 0px 15px;
            position: relative;
            line-height: 1.4;
        }  */
.login:hover {
	color: rgb(187, 7, 11);
	text-decoration: underline;
}

/* nav */
.nav {
	position: sticky;
	-webkit-box-pack: center;
	padding-top: 15px;
	background: rgb(255, 255, 255);
	z-index: 10;
	border-bottom: 1px solid rgb(238, 238, 238);
	top: 0px;
	left: 0px;
}

.dav {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.rav {
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	align-items: center;
}

.logo {
	margin-right: 50px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	float: left;
}

/* nav : 서치*/
.search_input {
	border: 2px solid rgb(187, 7, 11);
	width: 150%;
	height: 40px;
	box-sizing: border-box;
	position: relative;
}

.search {
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 0px 15px;
}

.searchBtn {
	color: rgb(33, 33, 33);
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	text-align: center;
	align-items: center;
	left: 30%;
}

.inputTag {
	width: 400px;
	border: none;
	color: rgb(102, 102, 102);
	-webkit-box-flex: 1;
	flex-grow: 1;
}

input[type="text"] {
	appearance: none;
}

/* twopack */
.twopack {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 1;
}

.menu button {
	margin-left: 30px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
}

.category a {
	cursor: pointer;
}

.category .categorybtn {
	display: none;
}

.category {
	margin-top: 10px;
	-webkit-box-align: center;
	align-items: center;
	height: 50px;
}

.card-menu {
	padding: 1rem 0px 1rem;
}

.h2 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.main {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: 38px;
	    
}

.viewCard {
}


.viewImg{
float: left;}
.viewWrap {
	/* width: 25%;
	height: 30%;
	border: 1px solid rgb(0, 0, 0);
	margin: 20px; */
	padding: 20px 20px 0 20px;
    margin-bottom: 50px;
    
    
}

.containerheader {
	margin-left: 15%;
	margin-right: 15%;
	border-bottom: 1px solid lightgray;
}

.containerbody {
	margin-left: 15%;
	margin-right: 15%;
}
.allcontainer{
width: 1920px;
height: 786px;
}