@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

ul, li, ol, dl, dd, dt {
	list-style: none;
}

img, video {
	vertical-align: top;
	border: 0;
}

input, select, textarea, button {
	font: inherit;
	color: inherit;
	vertical-align: middle;
	border-radius: 0;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: inherit;
}

address {
	font-style: normal;
}

table {
	border-collapse: collapse;
}

/*수정할 코드  */
/*수정할 코드  */
img {
	border-style: none;
}

.container {
	
}

/* header : 로그인/회원가입 화면 */
.header {
	/*       display: flex;
            justify-content: center;
            -webkit-box-pack: center;
            height: 40px;
            background: rgb(255, 255, 255);
            margin-left: 100%;
            margin-right: 20%;
            float: right; */
	left: 30%;
	right: 30%;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.rose {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: right;
}

.create {
	display: flex;
	flex-shrink: 0;
}

.login {
	color: black;
}
/* 
         .a {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-size: 13px;
            color: rgb(255, 6, 6);
            padding: 0px 15px;
            position: relative;
            line-height: 1.4;
        }  */
.login:hover {
	color: rgb(187, 7, 11);
	text-decoration: underline;
}

/* nav */
.nav {
	position: sticky;
	-webkit-box-pack: center;
	padding-top: 15px;
	background: rgb(255, 255, 255);
	z-index: 10;
	border-bottom: 1px solid rgb(238, 238, 238);
	top: 0px;
	left: 0px;
}

.dav {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.rav {
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	align-items: center;
}

.logo {
	margin-right: 50px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	float: left;
}

/* nav : 서치*/
.search_input {
	border: 2px solid rgb(187, 7, 11);
	width: 140%;
	height: 40px;
	box-sizing: border-box;
	position: relative;
}

.search {
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
margin-left: 15px;
}


.searchBtn {
	color: rgb(33, 33, 33);
	text-decoration: none;
	cursor: pointer;
	background-color: transparent;
	text-align: center;
	align-items: center;
	left: 30%;
}

.inputTag {
	width: 340px;
	border: none;
	color: rgb(102, 102, 102);
	-webkit-box-flex: 1;
	flex-grow: 1;
}

input[type="text"] {
	appearance: none;
}

/* twopack */
.twopack {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 1;
}

.menu button {
	margin-left: 30px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
}

.category a {
	cursor: pointer;
}

.category .categorybtn {
	display: none;
}


.category {
	margin-top: 10px;
	-webkit-box-align: center;
	align-items: center;
	height: 50px;
}
#catebtn{
	
	margin-bottom: 15px;
}
#catebtn:hover {
	
    transition: 1s ease-out;
    background-color: rgb(187,7,11);
    color: white;

}



.card-menu {
	padding: 1rem 0px 1rem;
	display: flex;
	justify-content: left;
	margin-left: 15%;
	margin-top: 20px;
	
	
}

.h2 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.main {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-left: 38px;
	    margin-top:20px;
}

.viewCard {
}


.viewImg{
float: left;
width: 270px;
height:270px;

}
.viewImg>Img{
	width: 100%;
	height:100%;
}
.viewWrap {
	/* width: 25%;
	height: 30%;
	border: 1px solid rgb(0, 0, 0);
	margin: 20px; */
	padding: 20px 20px 0 20px;
    margin-bottom: 50px;
    border: 1px solid lightgray;
        margin-left: 14px;
    
    
}

.containerheader {
	margin-left: 15%;
	margin-right: 15%;
	border-bottom: 1px solid lightgray;
}

.containerbody {
	margin-left: 15%;
	margin-right: 15%;
}
.allcontainer{
width: 1920px;	
height: 786px;
}

/*=================== 찜한상품~ 정보수정 리스트 ==================*/
.menu_list {
	float: left;
	margin-right: 15px;
	border: 3px solid black;
}

.custom-restricted-width .pure-menu-link {
	display: flex;
	align-items: center;
	padding: 16px;
	color: black;
	text-decoration: none;
	height: 56px;
	box-sizing: border-box;
}

.pure-menu-link:hover {
	text-underline-position: under;
	text-decoration: underline;
	color: rgb(187, 7, 11);
}

.pure-menu-heading {
	font-size: 45px;
}

.containerbody {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}

.listContainer {
	margin-bottom: 20px;
}

.list {
	display: flex;
	padding: 10px 0;
}

.item {
	flex: 1;
	padding: 10px;
	background-color: #f1f1f1;
	border-radius: 5px;
	margin-right: 10px;
}

.item .text {
	font-size: 16px;
	font-weight: bold;
}

.item .circle {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-left: 5px;
}

.item:hover {
	background-color: rgb(187, 7, 11);
	color: white;
}

.info {
	border: 1px solid rgb(187, 7, 11);
	padding: 20px;
	border-radius: 5px;
}

.hello {
	text-align: center;
}

.hello h2 {
	font-size: 32px;
	margin-bottom: 10px;
	font-weight: bold;
}

.profile-info {
	margin-top: 20px;
}

.profile-name {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

.profile-details {
	display: grid;
	grid-template-columns: auto;
	gap: 10px;
}

.profile-details p {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
}

.profile-details p span {
	font-weight: bold;
	margin-right: 5px;
	font-size: 18px;
}

.profile-buttons {
	display: flex;
	padding: 10px 0;
}

#bttn1 {
	flex: 1;
	
	padding: 10px;
	background-color: #f1f1f1;
	border-radius: 5px;
	margin-right: 10px;
}

#bttn1:hover {
	background-color: rgb(187, 7, 11);
	color: white;
}